[env:nodemcuv2-OTA]
upload_flags =
    --port=***
    --auth=***

[env]
build_flags =
    '-DPIO_FRAMEWORK_ARDUINO_MMU_CACHE16_IRAM48'
  	'-DWIFI_SSID="***"'
    '-DWIFI_PASSWD="***"'
    '-DMQTT_SERVER="***"'
    '-DMQTT_SERVER_PORT=1883'
    '-DHOSTNAME="***"'
    '-DMQTT_LOGIN="***"'
    '-DMQTT_PASSWORD="***"'
    '-DOTA_HOSTNAME="***"'
    '-DOTA_PASSWORD="***"'
